* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-family: "Karla", serif;
}
.nav-container {
  display: flex;
  justify-content: space-between;

  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-link,
.navBtnLink {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  /* transition: all 0.3s ease-in-out; */
}
.navBtnLink {
  color: white;
}

.nav-button {
  background: linear-gradient(135deg, #ff7eb3, #ff758c);
  border: none;
  color: white;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

/* Hover effects */
.nav-link:hover {
  color: #ff758c;
}

.nav-button:hover,
.navBtnLink:hover {
  transform: translateY(-5px) scale(1.05); /* Lift button on hover */
  /* box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1); */
  background: linear-gradient(135deg, #ff758c, #ff7eb3); /* Reverse gradient */
}
